@model FreshFoodMongo.Models.DTO.NguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    FreshFoodMongo.Models.DAO.CommonDAO commonDao = new FreshFoodMongo.Models.DAO.CommonDAO();
}

@section header
{
    Người khoản - Thông tin tài khoản ( @Model.Username )
}

<div>
    <table style="width:60%">
        <td style="vertical-align:top">
            <div class="form-group">
                <div class="col-md-10">
                    <img height="150" width="150" src="~/Areas/Admin/Content/Photos/@Model.Avatar" alt="Chưa có" style="border:solid 1px gray; border-radius:10px" />
                </div>
            </div>
        </td>
        <td style="vertical-align:top">
            <dl class="dl-horizontal">
                <dt>
                    Phân loại:
                </dt>

                <dd>
                    Tài khoản @Html.Raw(commonDao.getRf_TenLoaiNguoiDung(Model.IDLoaiNguoiDung))
                </dd>
                <dt>
                    Username:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt>
                    Tên:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ten)
                </dd>
                <dt>
                    Điện thoại:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DienThoai)
                </dd>
                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Địa chỉ:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
                <dt>
                    Ngày tạo:
                </dt>

                <dd>
                    @Html.Raw(Convert.ToDateTime(Model.CreatedDate).ToString("dd/MM/yyyy"))
                </dd>
                <dt>
                    Ngày cập nhật:
                </dt>

                <dd>
                    @Html.Raw(Convert.ToDateTime(Model.ModifiedDate).ToString("dd/MM/yyyy"))
                </dd>
            </dl>
        </td>
    </table>
</div>
<br />

<button type="button" class="btn btn-warning btn-admin">
    <a class="fa fa-th-list"></a> &nbsp;
    @Html.ActionLink("Danh sách", "Index")
</button>