@model FreshFoodMongo.Models.DTO.NguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section header
{
    Khách hàng - Thông tin khách hàng ( @Model.Username )
}

<div>
    <table style="width:60%">
        <td style="vertical-align:top">
            <div class="form-group">
                <div class="col-md-10">
                    <img height="150" width="150" src="~/Areas/Admin/Content/Photos/@Model.Avatar" alt="Chưa có" style="border:solid 1px gray; border-radius:10px" />
                </div>
            </div>
        </td>
        <td style="vertical-align:top">
            <dl class="dl-horizontal">
                <dt>
                    Username:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt>
                    Họ tên:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ten)
                </dd>
                <dt>
                    Điện thoại:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DienThoai)
                </dd>
                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Địa chỉ:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>
                <dt>
                    Số đơn hàng đã mua:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SoDonHangDaMua)
                </dd>
                <dt>
                    Tổng tiền hàng đã mua:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TongTienHangDaMua) VNĐ
                </dd>
                <dt>
                    Ngày tạo:
                </dt>

                <dd>
                    @Html.Raw(Convert.ToDateTime(Model.CreatedDate).ToString("dd/MM/yyyy"))
                </dd>
                <dt>
                    Ngày cập nhật:
                </dt>

                <dd>
                    @Html.Raw(Convert.ToDateTime(Model.ModifiedDate).ToString("dd/MM/yyyy"))
                </dd>
            </dl>
        </td>
    </table>
</div>

<br />

<button type="button" class="btn btn-primary btn-admin">
    <a class="fa fa-edit"></a> &nbsp;
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDNguoiDung })
</button>
@if (Model.Username.Equals(Session["USERNAME_SESSION"]))
{
    <button type="button" class="btn btn-success btn-admin">
        <a class="fa fa-key"></a> &nbsp;
        @Html.ActionLink("Đổi mật khẩu", "ChangePassword", new { id = Model.IDNguoiDung })
    </button>
}
<button type="button" class="btn btn-warning btn-admin">
    <a class="fa fa-th-list"></a> &nbsp;
    @Html.ActionLink("Danh sách", "Index")
</button>