@model FreshFoodMongo.Models.DTOplus.flatChangePassword

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section header
{
    Người dùng - Đổi mật khẩu ( @Model.Username )
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDUser)

        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputEmail1">Mật khẩu cũ</label>
                <input type="password" class="form-control" name="oldpass" placeholder="Nhập mật khẩu cũ ..." value=" @Html.DisplayFor(model => model.OldPass)" required>
                <p style="font-size:15px; color:red; font-style:italic"><b>@ViewBag.OldPassword</b></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputEmail1">Mật khẩu mới</label>
                <input type="password" class="form-control" name="newpass" placeholder="Nhập mật khẩu mới ..." value=" @Html.DisplayFor(model => model.NewPass)" required>
                <p style="font-size:15px; color:red; font-style:italic"><b>@ViewBag.NewPassword</b></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputEmail1">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" name="confirm" placeholder="Xác nhận mật khẩu ..." value=" @Html.DisplayFor(model => model.Confirm)" required>
                <p style="font-size:15px; color:red; font-style:italic"><b>@ViewBag.ConfirmPassword</b></p>
            </div>
        </div>


        <button type="submit" class="btn btn-primary" style="width:110px">
            <a class="fa fa-save"></a> &nbsp;Lưu lại
        </button>
        <button type="button" class="btn btn-warning" style="width:110px">
            <a class="fa fa-arrow-left"></a> &nbsp;
            @Html.ActionLink("Trở về", "Details", new { id = Model.IDUser })
        </button>
    </div>
}
