@model IEnumerable<FreshFoodMongo.Models.DTO.ChiTietDonHang>
@{
    FreshFoodMongo.Models.DAO.CommonDAO commonDao = new FreshFoodMongo.Models.DAO.CommonDAO();
}

<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Sản phẩm
            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Đơn giá (VNĐ)
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Thành tiền
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(commonDao.getRf_TenSanPham(item.IDSanPham))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonViTinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
            </tr>
        }
    </tbody>
</table>
