@model FreshFoodMongo.Models.DTO.NhaCungCap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section header
{
    Nhà cung cấp - Chỉnh sửa thông tin (@Model.Ten )
}

@using (Html.BeginForm("Edit", "NhaCungCap", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDNhaCungCap)


        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputEmail1">Tên nhà cung cấp</label>
                <input type="text" class="form-control" name="ten" placeholder="Nhập tên nhà cung cấp ..." value=" @Html.DisplayFor(model => model.Ten)" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputEmail1">Địa Chỉ</label><br />
                <input type="text" class="form-control" name="diachi" placeholder="Nhập địa chỉ ..." value=" @Html.DisplayFor(model => model.DiaChi)" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputEmail1">Số điện thoại</label><br />
                <input type="text" class="form-control" name="dienthoai" placeholder="Nhập đơn vị tính ..." value=" @Html.DisplayFor(model => model.DienThoai)" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="exampleInputFile">Hình ảnh nhà cung cấp</label>
                <input type="file" id="hinhanh" name="hinhanh">
            </div>
        </div>
        <br />


        <button type="submit" class="btn btn-primary btn-admin" style="width:110px">
            <a class="fa fa-save"></a> &nbsp;Lưu lại
        </button>
        <button type="button" class="btn btn-warning btn-admin" style="width:110px">
            <a class="fa fa-th-list"></a> &nbsp;
            @Html.ActionLink("Danh sách", "Index")
        </button>
    </div>
}
