@{
    FreshFoodMongo.Models.DAO.BaseDAO baseDao = new FreshFoodMongo.Models.DAO.BaseDAO();
    FreshFoodMongo.Models.DTO.ThongTinLienHe info = baseDao.getDataThongTinLienHe().FirstOrDefault();
}

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="/Home/Index"><img src="~/Assets/Client/img/logo.png" alt=""></a>
                    </div>
                    <ul style="font-family: Tahoma">
                        <li><b>Địa chỉ:</b> @info.DiaChi</li>
                        <li><b>Điện thoại:</b> @info.DienThoai1</li>
                        <li><b>Email:</b> @info.Email</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <b>THÔNG TIN HỮU ÍCH</b><br />
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <b>THAM GIA CỘNG ĐỒNG FreshFoodMongo</b>
                    <p>Nhận thông tin về cửa hàng và các ưu đãi đặc biệt</p>
                    <form action="#">
                        <input type="text" placeholder="Nhập email ...">
                        <button type="submit" class="site-btn">Đăng ký</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="@info.LinkFacebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="@info.LinkInstagram" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="@info.LinkYoutube" target="_blank"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> <i class="fa fa-heart" aria-hidden="true"></i> by FreshFoodMongo
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="footer__copyright__payment"><img src="~/Assets/Client/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->