@{
    FreshFoodMongo.Models.DAO.BaseDAO baseDao = new FreshFoodMongo.Models.DAO.BaseDAO();
    FreshFoodMongo.Models.DTO.ThongTinLienHe info = baseDao.getDataThongTinLienHe().FirstOrDefault();
}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/Home/Index"><img src="~/Assets/Client/img/language.png" alt="" height="14"></a>
    </div>

    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            @if (Session["USER_SESSION"] == null)
            {
                <img src="~/Assets/Client/img/user.png" class="user-image" alt="User Image" />
            }
            else
            {
                <img src="~/Areas/Admin/Content/Photos/@Session["AVATAR_SESSION"]" class="user-image" alt="User Image" />
            }
            <img src="~/Assets/Client/img/logo.png" class="user-image" alt="User Image" />
            <span class="hidden-xs">@Session["USERNAME_SESSION"]</span>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html" style="font-size: 17px;">Trang chủ</a></li>
            <li><a href="./shop-grid.html" style="font-size: 17px;">Mua hàng</a></li>
            <li><a href="./contact.html" style="font-size: 17px;">Liên hệ</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> @info.Email</li>
            <li>Free ship cho đơn hàng từ 100.000 VNĐ</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> FreshFoodMongo@gmail.com</li>
                            <li><i class="fa fa-ship"></i> Free ship cho đơn hàng từ 100.000 VNĐ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="@info.LinkFacebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="@info.LinkInstagram" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="@info.LinkYoutube" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="~/Areas/Admin/Content/Photos/@Session["AVATAR_SESSION"]" onerror="this.onerror=null" width="22" class="user-image" alt="" style="border: solid 1px #49505726"/>
                            <span class="hidden-xs" data-id="@Session["IDUSER_SESSION"]" id="txtCustomer">@Session["NAME_SESSION"]</span>
                        </div>
                        <div class="header__top__right__auth">
                            @if (Session["USER_SESSION"] == null)
                            {
                                <a href="/Client/Login/Index"><i class="fa fa-sign-in"></i> Đăng nhập</a>
                            }
                            else
                            {
                                <a href="/Client/Login/Logout"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->